/* Component ↓ */
.btn-txt {
    background-color: inherit;
    border: none;
    outline: none;
}

.arrow {
    position: fixed;
    left: 50%;
    z-index: 3;
    color: rgb(214, 214, 214);
}

.arrow-top {
    top: 5%;
    -webkit-transform: translateX(-50%) rotate(90deg);
    transform: translateX(-50%) rotate(90deg);
}
.arrow-bot {
    top: 95%;
    -webkit-transform: translate(-50%, -100%) rotate(90deg);
    transform: translate(-50%, -100%) rotate(90deg);
}

.section {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
}

.stage {
    position: relative;
    width: 42rem;
    /* height: 4rem; */
    -webkit-perspective: 20rem;
    perspective: 20rem;
    /* perspective-origin: 75%; */
    overflow: hidden;
}

.carousel {
    position: absolute;
    /* perspective: 20rem; */
    width: 100%;
    height: 100%;
    /* transform: translateZ(-4rem); */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.cell {
    position: absolute;
    /* top: -1.3rem; */
    /* left: -6rem; */
    width: 100%;
    height: 100%;
    -webkit-transform-origin: center;
    transform-origin: center;
    /* text-align: center; */
    /* font-size: inherit; */
    /* line-height: 200%; */
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cell:nth-of-type(1) {
    -webkit-transform: rotateX(0deg) translateZ(5rem) scale(0.6);
    transform: rotateX(0deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(2) {
    -webkit-transform: rotateX(-36deg) translateZ(5rem) scale(0.6);
    transform: rotateX(-36deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(3) {
    -webkit-transform: rotateX(-72deg) translateZ(5rem) scale(0.6);
    transform: rotateX(-72deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(4) {
    -webkit-transform: rotateX(-108deg) translateZ(5rem) scale(0.6);
    transform: rotateX(-108deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(5) {
    -webkit-transform: rotateX(-144deg) translateZ(5rem) scale(0.6);
    transform: rotateX(-144deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(6) {
    -webkit-transform: rotateX(-180deg) translateZ(5rem) scale(0.6);
    transform: rotateX(-180deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(7) {
    -webkit-transform: rotateX(-216deg) translateZ(5rem) scale(0.6);
    transform: rotateX(-216deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(8) {
    -webkit-transform: rotateX(-252deg) translateZ(5rem) scale(0.6);
    transform: rotateX(-252deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(9) {
    -webkit-transform: rotateX(-288deg) translateZ(5rem) scale(0.6);
    transform: rotateX(-288deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(10) {
    -webkit-transform: rotateX(-324deg) translateZ(5rem) scale(0.6);
    transform: rotateX(-324deg) translateZ(5rem) scale(0.6);
}

.widget {
    width: 15rem;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: inherit;
    white-space: nowrap;
}

.date::-webkit-inner-spin-button,
.date::-webkit-calendar-picker-indicator {
    display: none;
}

.img-ab,
.img-bc,
.img-mn,
.img-nb,
.img-nl,
.img-ns,
.img-on,
.img-pe,
.img-qc,
.img-sk {
    position: absolute;
    /* bottom: 3px; */
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.img-ab::before,
.img-ab::after,
.img-bc::before,
.img-bc::after,
.img-mn::before,
.img-mn::after,
.img-nb::before,
.img-nb::after,
.img-nl::before,
.img-nl::after,
.img-ns::before,
.img-ns::after,
.img-on::before,
.img-on::after,
.img-pe::before,
.img-pe::after,
.img-qc::before,
.img-qc::after,
.img-sk::before,
.img-sk::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(50vw - 21rem);
}

.img-ab::before,
.img-ab::after {
    background-image: url(img/ab.jpg);
}

.img-bc::before,
.img-bc::after {
    background-image: url(img/bc.jpg);
}

.img-mn::before,
.img-mn::after {
    background-image: url(img/mn.jpg);
}

.img-nb::before,
.img-nb::after {
    background-image: url(img/nb.jpg);
}

.img-nl::before,
.img-nl::after {
    background-image: url(img/nl.jpg);
}

.img-ns::before,
.img-ns::after {
    background-image: url(img/ns.jpg);
}

.img-on::before,
.img-on::after {
    background-image: url(img/on.jpg);
}

.img-pe::before,
.img-pe::after {
    background-image: url(img/pe.jpg);
}

.img-qc::before,
.img-qc::after {
    background-image: url(img/qc.jpg);
}

.img-sk::before,
.img-sk::after {
    background-image: url(img/sk.jpg);
}

.img-ab::after,
.img-bc::after,
.img-mn::after,
.img-nb::after,
.img-nl::after,
.img-ns::after,
.img-on::after,
.img-pe::after,
.img-qc::after,
.img-sk::after {
    background-position: top right;
}

/* Component ↑ */

/* Module ↓ */
/* Position ↓ */
.p-rel {
    position: relative;
}

.p-abs {
    position: absolute;
}
/* Position ↑ */

/* Display ↓ */
.flex {
    display: -webkit-box;
    display: flex;
}

.d-none {
    display: none;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.justify-center {
    -webkit-box-pack: center;
    justify-content: center;
}

.justify-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    -webkit-box-align: center;
    align-items: center;
}

.flex-center {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.of-hidden {
    overflow: hidden;
}
/* Display ↑ */

/* Size ↓ */

.w-80 {
    width: 80vw;
}

.w-60 {
    width: 60vw;
}

.mw-80 {
    max-width: 80vw;
}

.w-17r {
    width: 17rem;
}

.w-bg-red {
    width: 40rem;
}

.h-full {
    height: 100vh;
}

.h-sg {
    height: 4rem;
}

.h-db {
    height: 8rem;
}

.h-50p {
    height: 50%;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt--3 {
    margin-top: -3rem;
}

/* Size ↑ */

/* Color ↓ */
.bg-canada {
    background: url(img/ca.jpg) center fixed no-repeat;
    background-size: cover;
}
/* Color ↑ */

/* Text ↓ */
.txt-center {
    text-align: center;
}

.txt-bg-red {
    color: #fffcdf;
}

.txt-xl {
    font-size: 3rem;
}

.txt-lg {
    font-size: 1.5rem;
}

.txt-md {
    font-size: 1.2rem;
}

.bold {
    font-weight: bold;
}

.txt-em {
    font-size: 4.5rem;
    font-weight: bold;
}

.txt-rainbow {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(255, 210, 125, 0.8)),
        color-stop(rgba(255, 255, 128, 0.8)),
        color-stop(rgba(64, 128, 64, 0.8)),
        color-stop(rgba(128, 128, 255, 0.8)),
        color-stop(rgba(105, 67, 133, 0.8)),
        to(rgba(129, 63, 129, 0.8))
    );
    background: linear-gradient(
        to right,
        rgba(255, 210, 125, 0.8),
        rgba(255, 255, 128, 0.8),
        rgba(64, 128, 64, 0.8),
        rgba(128, 128, 255, 0.8),
        rgba(105, 67, 133, 0.8),
        rgba(129, 63, 129, 0.8)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Text ↑ */

/* Other ↓ */

/* Other ↑ */
/* Module ↑ */

@media screen and (max-width: 768px) {
    .h-sg {
        height: 8vw;
    }

    .h-db {
        height: 16vw;
    }

    .w-bg-red {
        width: 84vw;
    }

    .stage {
        min-width: 64vw;
    }

    .widget {
        width: 32vw;
    }

    .txt-xl {
        font-size: 6vw;
    }

    .txt-lg {
        font-size: 3vw;
    }

    .txt-em {
        font-size: 9vw;
    }
}

@media screen and (max-width: 576px) {
    .h-sg {
        height: 3rem;
    }

    .h-db {
        height: 6rem;
    }

    .w-bg-red {
        width: 30rem;
    }

    .stage {
        min-width: 18rem;
    }

    .widget {
        width: 9rem;
        min-width: 9rem;
    }

    .txt-xl {
        font-size: 2.25rem;
    }

    .txt-lg {
        font-size: 1.125rem;
    }

    .txt-em {
        font-size: 3.375rem;
    }
}

@media screen and (max-width: 450px) {
    .cell:nth-of-type(5) {
        font-size: 1.6rem;
        line-height: 200%;
    }
}

@media screen and (max-height: 550px) {
    .txt-xl {
        font-size: 10vh;
    }

    .txt-lg {
        font-size: 5vh;
    }

    .txt-em {
        font-size: 15vh;
    }

    .mt-8 {
        margin-top: 16vh;
    }

    .mt-5 {
        margin-top: 10vh;
    }

    .mt-2 {
        margin-top: -5vh;
    }

    .mt--3 {
        margin-top: 0;
    }

    .widget {
        color: #000;
    }
    .w-bg-red {
        width: 50vw;
    }
}

@media screen and (max-width: 672px) {
    #province-img {
        display: none;
    }
}
