/* Component ↓ */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Component ↑ */

/* Module ↓ */
/* Position ↓ */

/* Position ↑ */

/* Display ↓ */
.flex {
    display: flex;
}

.d-none {
    display: none;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}
/* Display ↑ */

/* Size ↓ */
.w-80 {
    width: 80vw;
}

.w-60 {
    width: 60vw;
}

.h-full {
    height: 100vh;
}
/* Size ↑ */

/* Color ↓ */
.bg-container {
    background-color: coral;
}
/* Color ↑ */

/* Text ↓ */
.txt-center {
    text-align: center;
}

.txt-xl {
    font-size: 2rem;
}

.txt-lg {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .txt-xl {
        font-size: 4vw;
    }

    .txt-lg {
        font-size: 3vw;
    }
}

@media screen and (max-width: 576px) {
    .txt-xl {
        font-size: 1.5rem;
    }

    .txt-lg {
        font-size: 1.125rem;
    }
}
/* Text ↑ */

/* Other ↓ */
.pers {
    position: relative;
    transform-style: preserve-3d;
    perspective: 20rem;
}

.trans {
    position: absolute;
    top: 0;
    left: -6rem;
    width: 15rem;
    height: 1rem;
    text-align: center;
}

.trans:nth-of-type(1) {
    transform: translateZ(2rem);
}

.trans:nth-of-type(2) {
    transform: rotateX(-36deg) translateZ(2rem);
}

.trans:nth-of-type(3) {
    transform: rotateX(-72deg) translateZ(2rem);
}

.trans:nth-of-type(4) {
    transform: rotateX(-108deg) translateZ(2rem);
}

.trans:nth-of-type(5) {
    transform: rotateX(-144deg) translateZ(2rem);
}

.trans:nth-of-type(6) {
    transform: rotateX(-180deg) translateZ(2rem);
}

.trans:nth-of-type(7) {
    transform: rotateX(-216deg) translateZ(2rem);
}

.trans:nth-of-type(8) {
    transform: rotateX(-252deg) translateZ(2rem);
}

.trans:nth-of-type(9) {
    transform: rotateX(-288deg) translateZ(2rem);
}

.trans:nth-of-type(10) {
    transform: rotateX(-324deg) translateZ(2rem);
}
/* Other ↑ */
/* Module ↑ */
