/* Can use Normalize.css */

* {
    box-sizing: border-box;
}

body,
ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: initial;
}

a:hover {
    color: seagreen;
}

ul {
    list-style: none;
}

input {
    border: none;
    outline: none;
}
