@import "reset.css";

/* Component ↓ */
.btn-txt {
    background-color: transparent;
    border: none;
    outline: none;
}

.arrow {
    position: fixed;
    left: 50%;
    z-index: 4;
    color: rgb(214, 214, 214);
}

.arrow-top {
    top: 5%;
    transform: translateX(-50%) rotate(90deg);
}
.arrow-bot {
    top: 95%;
    transform: translate(-50%, -100%) rotate(90deg);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}

.stage {
    position: relative;
    width: 42rem;
    perspective: 20rem;
    overflow: hidden;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.cell {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    white-space: nowrap;
    backface-visibility: hidden;
}

.cell:nth-of-type(1) {
    transform: rotateX(0deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(2) {
    transform: rotateX(-36deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(3) {
    transform: rotateX(-72deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(4) {
    transform: rotateX(-108deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(5) {
    transform: rotateX(-144deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(6) {
    transform: rotateX(-180deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(7) {
    transform: rotateX(-216deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(8) {
    transform: rotateX(-252deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(9) {
    transform: rotateX(-288deg) translateZ(5rem) scale(0.6);
}
.cell:nth-of-type(10) {
    transform: rotateX(-324deg) translateZ(5rem) scale(0.6);
}

.widget {
    width: 15rem;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: inherit;
    white-space: nowrap;
}

.date::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}

.img {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.img::before,
.img::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(50vw - 21rem);
}

.img::after {
    background-position: top right;
}

.img-ab::before,
.img-ab::after {
    background-image: url(../img/ab.jpg);
}

.img-bc::before,
.img-bc::after {
    background-image: url(../img/bc.jpg);
}

.img-mn::before,
.img-mn::after {
    background-image: url(../img/mn.jpg);
}

.img-nb::before,
.img-nb::after {
    background-image: url(../img/nb.jpg);
}

.img-nl::before,
.img-nl::after {
    background-image: url(../img/nl.jpg);
}

.img-ns::before,
.img-ns::after {
    background-image: url(../img/ns.jpg);
}

.img-on::before,
.img-on::after {
    background-image: url(../img/on.jpg);
}

.img-pe::before,
.img-pe::after {
    background-image: url(../img/pe.jpg);
}

.img-qc::before,
.img-qc::after {
    background-image: url(../img/qc.jpg);
}

.img-sk::before,
.img-sk::after {
    background-image: url(../img/sk.jpg);
}

/* Component ↑ */

/* Module ↓ */
/* Position ↓ */
.p-rel {
    position: relative;
}

/* Position ↑ */

/* Display ↓ */
.d-none {
    display: none;
}

.of-hidden {
    overflow: hidden;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}
/* Display ↑ */

/* Size ↓ */

.w-80 {
    width: 80vw;
}

.mw-80 {
    max-width: 80vw;
}

.w-bg-red {
    width: 40rem;
}

.h-sg {
    height: 4rem;
}

.h-db {
    height: 8rem;
}

.h-50p {
    height: 50%;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt--3 {
    margin-top: -3rem;
}

/* Size ↑ */

/* Color ↓ */
.bg-canada {
    z-index: 1;
}
.bg-canada::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/ca.jpg) center no-repeat;
    background-size: cover;
}
/* Color ↑ */

/* Text ↓ */
.txt-center {
    text-align: center;
}

.txt-bg-red {
    color: #fffcdf;
}

.txt-xl {
    font-size: 3rem;
}

.txt-lg {
    font-size: 1.5rem;
}

.txt-bold {
    font-weight: bold;
}

.txt-em {
    font-size: 4.5rem;
}

.txt-rainbow {
    background: linear-gradient(
        to right,
        rgba(255, 210, 125, 0.8),
        rgba(255, 255, 128, 0.8),
        rgba(64, 128, 64, 0.8),
        rgba(128, 128, 255, 0.8),
        rgba(105, 67, 133, 0.8),
        rgba(129, 63, 129, 0.8)
    );
    background-clip: text;
    color: transparent;
}

/* Text ↑ */

/* Other ↓ */

/* Other ↑ */
/* Module ↑ */

@media screen and (max-width: 768px) {
    .h-sg {
        height: 8vw;
    }

    .h-db {
        height: 16vw;
    }

    .w-bg-red {
        width: 84vw;
    }

    .stage {
        min-width: 64vw;
    }

    .widget {
        width: 32vw;
    }

    .txt-xl {
        font-size: 6vw;
    }

    .txt-lg {
        font-size: 3vw;
    }

    .txt-em {
        font-size: 9vw;
    }
}

@media screen and (max-width: 576px) {
    .h-sg {
        height: 3rem;
    }

    .h-db {
        height: 6rem;
    }

    .w-bg-red {
        width: 30rem;
    }

    .stage {
        min-width: 18rem;
    }

    .widget {
        width: 9rem;
        min-width: 9rem;
    }

    .txt-xl {
        font-size: 2.25rem;
    }

    .txt-lg {
        font-size: 1.125rem;
    }

    .txt-em {
        font-size: 3.375rem;
    }
}

@media screen and (max-width: 450px) {
    .cell:nth-of-type(5) {
        font-size: 1.6rem;
        line-height: 200%;
    }
}

@media screen and (max-height: 550px) {
    .txt-xl {
        font-size: 10vh;
    }

    .txt-lg {
        font-size: 5vh;
    }

    .txt-em {
        font-size: 15vh;
    }

    .mt-8 {
        margin-top: 16vh;
    }

    .mt-5 {
        margin-top: 10vh;
    }

    .mt-2 {
        margin-top: -5vh;
    }

    .mt--3 {
        margin-top: 0;
    }

    .widget {
        color: #000;
    }
    .w-bg-red {
        width: 50vw;
    }
}

@media screen and (max-width: 672px) {
    #province-img {
        display: none;
    }
}
